<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1 class="text-primary"><b>Your profile</b></h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <p>
          <strong>Information:</strong> You have made changes. Any unsaved
          changes will be lost!
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div style="margin-top: 1em;">
            <strong>Name:</strong>
            <p>{{ user.familyName }} {{ user.firstName }}</p>
          </div>
          <div>
            <strong>E-mail:</strong>
            <p>{{ user.email }}</p>
          </div>
          <div>
            <strong>Telephone:</strong>
            <p>+36{{ user.telephoneNumber }}</p>
          </div>
          <div>
            <strong>Last active:</strong>
            <p>{{ user.lastActive | timeAgo }}</p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p>{{ user.created | date: 'mediumDate' }}</p>
          </div>
        </div>
        <div class="card-footer">
          <button [disabled]="!editForm.dirty" class="btn btn-success btn-block" form="editForm">
            Save changes
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit profile">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <h4>E-mail</h4>
              <input type="email" name="email" rows="6" class="form-control" [(ngModel)]="user.email" />
              <h4>Telephone number (example: 204678861)</h4>
              <input type="text" name="telephoneNumber" rows="6" class="form-control"
                [(ngModel)]="user.telephoneNumber" />
              <h4>Introduction</h4>
              <textarea name="Introduction" rows="6" class="form-control" [(ngModel)]="user.introduction"></textarea>
              <!-- <h4>Location Details:</h4>
              <div class="form-inline">
                <label for="city">City</label>
                <input type="text" class="from-control" name="city" [(ngModel)]="user.city" />
                <label for="country">City</label>
                <input type="text" class="from-control" name="country" [(ngModel)]="user.country" />
              </div> -->
            </form>
          </tab>
          <tab *ngIf="user.userType == 0" heading="Request">
            <h4 class="text-primary">Request a profile update!</h4>
            <p>Sending a request email to the Administrator of this application to upgrade you to a consultant!</p>
            <button class="btn btn-primary"><a style="text-decoration: none; color: white" href="mailto:roland96@gmail.com?
              subject=Request%UserType%Update">Send request</a></button>
          </tab>
          <tab *ngIf="user.userType == 1" heading="My ratings">
            <h4>Ratings</h4>
            <ul *ngFor="let item of ratings; let i = index">
              <li><strong>Stars: </strong><i class="fa fa-star" *ngFor="let icon of [].constructor(item.star)"></i></li>
              <li><strong>Overall: </strong> {{item.overall}}</li>
            </ul>
            <pagination [boundaryLinks]="true" [totalItems]="paginationRatings.totalItems"
              [(ngModel)]="paginationRatings.currentPage" [itemsPerPage]="paginationRatings.itemsPerPage"
              (pageChanged)="pageChangedRatings($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
              lastText="&raquo;">
            </pagination>
          </tab>
          <tab *ngIf="user.userType == 2" heading="Change usertype">
            <h4>Students</h4>
            <ul *ngFor="let item of students">
              <li><strong>{{item.familyName}} {{item.firstName}}</strong></li>
              <li>{{item.email}}</li>
              <li><button class="btn btn-danger">Update User</button></li>
            </ul>
            <pagination [boundaryLinks]="true" [totalItems]="paginationUsers.totalItems"
              [(ngModel)]="paginationUsers.currentPage" [itemsPerPage]="paginationUsers.itemsPerPage"
              (pageChanged)="pageChangedUsers($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
              lastText="&raquo;">
            </pagination>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>