<div class="ratings">
  <div class="rating-list list-group">
    <ul (click)="onSelectConsultant(item.id)" class="list-group-item list-group-item-action"
      *ngFor="let item of consultants">
      <li><strong>Name: </strong>{{item.username}}</li>
    </ul>
  </div>
  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" [totalItems]="paginationConsultants.totalItems"
      [(ngModel)]="paginationConsultants.currentPage" [itemsPerPage]="paginationConsultants.itemsPerPage"
      (pageChanged)="pageChanged($event)">
    </pagination>
  </div>
  <div class="rating-detail">
    <app-rating-detail *ngIf="selectedUserId" [name]="getName(selectedUserId)" [ratings]="getRatings(selectedUserId)">
    </app-rating-detail>
  </div>

</div>