.ratings{
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.rating-list{
    margin: 2em;
    flex: 2;
}

.rating-list div{
    justify-content: flex-end;
    margin: 2em 0 2em 2em;
}

.rating-detail{
    margin: 2em;
    flex: 3;
}

ul{
    list-style-type: none;
}
li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

pagination-controls{
    float: right;
    margin: 1em;
}

.fa-star{
    color: black;
    text-shadow: 0 0 3px rgb(58, 58, 58);
}

h1{
    font-weight: bold;
    font-style: italic;
}