ul{
    list-style-type: none;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button{
    margin-right: 10em;
    border-radius: 50%;
    padding-right: 2em;
    padding-left: 2em;
}

div{
    font-size: 20px;
}

.fa-star{
    color: yellow;
    text-shadow: 0 0 3px #000;
}