<div>
  <div class="header">
    <h1 class="text-primary">{{name}}</h1>
    <button [disabled]="buttonBool" (click)="openAdd()" class="btn btn-info"><i class="fa fa-plus"></i>
      Add</button>
  </div>
  <ul *ngFor="let item of ratings; let i = index">
    <li><strong>#{{(pagination.itemsPerPage*pagination.currentPage)+(i-1)}}</strong></li>
    <li><strong>Stars: </strong><i class="fa fa-star" *ngFor="let icon of [].constructor(item.star)"></i></li>
    <li><strong>Overall: </strong> {{item.overall}}</li>
  </ul>
  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
      [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
      nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>
  <app-rating-add *ngIf="buttonBool" (setButton)="onEmit($event)" [userId]="id">
  </app-rating-add>
</div>