<!-- <h1 class="text-primary text-center mt-2"><b>Announced consultations!</b></h1> -->
<div class="reservations">
  <div class="reservations-list">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Date</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
          <th scope="col">Capacity</th>
          <th scope="col">Action</th>
          <th *ngIf="userType == 1" scope="col">Modify</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="onSelectReservation(reservation)"
          *ngFor="let reservation of reservations | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <th scope="row">{{(pagination.itemsPerPage*pagination.currentPage)+(i-4)}}</th>
          <td>{{reservation.title}}</td>
          <td>{{reservation.from | date: 'shortDate'}}</td>
          <td>{{reservation.from | date: 'shortTime'}}</td>
          <td>{{reservation.until | date: 'shortTime'}}</td>
          <td>{{reservation.capacity}}/{{getRoom(reservation.roomId)}}</td>
          <td class="text-center">
            <app-sign-up [reservation]="reservation"></app-sign-up>
          </td>
          <td *ngIf="userType == 1">
            <button class="icons" *ngIf="currentUser == +reservation.userId"
              [routerLink]="['/reservations/edit/'+reservation.id]" routerLinkActive="router-link-active"><i
                class="fa fa-edit" style="margin-left: 0.5em; color: #14a301;"></i></button>
            <button class="icons" *ngIf="currentUser == +reservation.userId"><i class="fa fa-trash"
                style="margin-left: 0.5em; color: red;" (click)="onDelete(+reservation.id)"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <button [routerLink]="['/reservations/add']" class="btn btn-info"><i class="fa fa-plus" style="font-size: 1em;"></i>
      Add
      reservation</button>
    <div class="d-flex justify-content-center">
      <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
        [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
  </div>
  <div class="reservations-detail">
    <app-reservation-detail *ngIf="selectedReservation" [reservation]="selectedReservation"></app-reservation-detail>
  </div>
</div>